* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

.verify-email {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #65625e, #fbc2eb)
}

.verify-form {
    background-color: #1a1b26; /* Dark slate/navy color */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
    width: 90%;
    max-width: 400px; /* Limit max width for a nice modal look */
    text-align: center;
}

.form-title {
    font-size: 1.5rem;
    color: #ffffff; /* White text */
    margin-bottom: 10px;
}

.form-description {
    font-size: 0.9rem;
    color: #9f77db; /* Light grey text */
    margin-bottom: 30px;
}

.otp-fields
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 8px;
}

.input-otp{
   width: 50px;
   height: 50px;
   border-radius: 10px;
   background-color: rgb(52, 17, 104);
   text-align: center;
   font-size: x-large;
   color: white;
   border: none
   
}

.verify-btn{
    width: 90%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #4c1c93;
    margin-top: 30px;
    color: #ffffff;
    border: none
}